@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
}

nav {
    background-color: rgb(92, 92, 92);
    padding: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.486);
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

nav > a:hover {
    text-decoration: underline;
}

main > section{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px 0px;
}

.artigo {
    background-color: rgb(187, 183, 183);
    padding: 10px;
}

.paragrafo {
    background-color: grey;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}

footer > p {
    margin: 0px;
}